/*community snippet*/


/*filter*/

.full-width {
    width: 100%;
}

.table-filter {
    vertical-align: top;
    width: 300px;
}

.filter-wrapper{
    position: relative;
    left:0;
    padding-top: 20px;
    width: 320px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.filter-wrapper.move-out{
    left:-320px;
}

.block-title{
     white-space: nowrap;
}

.head-filter,
.head-results{
    font-size: 22px;
    color: #63065f;
    padding: 10px 0;
}

.main-filter{
    padding: 0 10px;
    padding-top: 10px;
}

.form-group.main-filter input.form-control{
    padding: 3px 10px;
}

.form-control,
.dropdown-menu {
    border-radius: 0px;
}

.form-group .promo-start,
.form-group .promo-end {
    width: 132px;
    display: inline-block;
}

.form-group .promo-start {
    margin-right: 10px;
}

.form-group .promo-end {
    margin-left: 10px;
}

.display-none {
    display: none;
}

.multiselect-container {
    position: absolute !important;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
    border: solid 1px #000;
    width: 300px;
    max-height: 300px;
}

.overflow-y-scroll {
    overflow-y: scroll;
}

.multiselect-container label,
.multiselect-container span {
    display: block;
    padding-left: 10px;
    cursor: pointer;
    width: 100%;
    margin: 0;
    padding-bottom: 5px;
    padding-top: 5px;
}

.multiselect-container label.active,
.multiselect-container span.active{
    color: white;
    background-color: #63065f;
}

.multiselect-container label.active:hover,
.multiselect-container span.active:hover{
    background-color: #7C2D79;
}

.multiselect-container label:hover,
.multiselect-container span:hover{
    background-color: #e0d9c9;
}

.multiselect-button {
    background-color: white;
    color: black;
    text-align: left
}

#button-recherche {
    width: 200px;
}

.arrow-down {
    margin-top: 10px;
    float: right;
}

.arrow-down:after {
    content: '';
    border: 4px solid transparent;
    border-bottom: none;
    border-top: 4px solid black;
    height: 0px;
    width: 0px;
}


/*results*/

.table-results{
    vertical-align: top;
    padding-left: 10px;
    padding-top: 20px;
    height: 100%;
}

#response {
    display: block;
    overflow: hidden;
    min-height: 430px;
}

.profile-card {
    width: 180px;
    height: 185px;
    margin: 8px;
    padding-top: 10px;
    display: inline-block;
    text-align: center;
    color: black;
    background-color: #fff;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    cursor: pointer;
}

.profile-card:hover,
.profile-card:focus{
    background: -webkit-radial-gradient(circle, #e0d9c9, #63065f,#e0d9c9 ); /* Safari */
    background: -o-radial-gradient(circle, #e0d9c9, #63065f, #e0d9c9); /* Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(circle, #e0d9c9, #63065f, #e0d9c9); /* Firefox 3.6 to 15 */
    background: radial-gradient(circle, #e0d9c9, #63065f, #e0d9c9); /* Standard syntax */
    color: white;
}

.profile-img-wrapper {
    width: 100%;
    height: 148px;
}

.profile-info {
    padding: 3px;
    text-align: center;
}

.profile-info a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

.buffer {
    padding-top: 17px;
    height: 100px;
}

.success-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.75);
}

#search-show,
#search-hide{
    cursor: pointer;
}

@media screen and (max-width:980px){
    .table-filter{
        display: none;
    }

    #response{
        text-align: center;
    }
}
