/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-4-1, 13:02:39
    Author     : wangke
*/

#profil{
    width: 630px;
    margin: 0 auto;
    border: 1px solid rgba(204,204,204,0.75);
    background-color: white;
    height: 683px;
}

.profil-header{
    width: 100%;
    height: 300px;
    padding-top: 190px;
    background-image: url('../sources/profile-background.png');
}

.profil-title{
    height: 30px;
}

#profil-name{
    margin-left: 200px;
    color: white;
    font-size: 24px;
}

#profil-tel{
    color: white;
    font-size: 15px;
    margin-left: 20px;
}

#profil-email{
    margin-left: 15px;
}

#profil-email a{
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.mask{
    height: 80px;
    background-color: rgba(0,0,0,0.5);
}
#img-container{
    display: inline-block;
}

#img-container .thumbnail{
    display: inline;
}

#img-container img{
    margin-top: -90px;
    margin-left: 30px;
    width: 150px;
    height: 150px;
}

.profil-info{
    background-color: #edeadf;
    height: 383px;
    padding: 20px;
}

.profil-info p{
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
}

.profil-button{
    display: inline;
    width: auto;
    font-size: 12px;
    padding: 5px 10px;
    float: right;
    font-family: 'Roboto Slab', serif;
    margin: 0;
}

.profil-info ul{
    list-style-type: none;
}

.profil-info li{
    font-size: 17px;
}

.profil-edit-wrapper{
    background-color: #edeadf;
    padding: 20px;
    height: 383px;
}

#profil-valider{
    margin-right: 20px;
}

.overflow-hidden{
    overflow: hidden;
}

.profil-edit-wrapper label{
    margin: 4px 0;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 3px;
    width: 80px;
}

.profil-edit-wrapper .col-sm-6,
.profil-edit-wrapper .col-sm-12
{
    padding: 0;
}

.profil-edit-wrapper .form-control,
.profil-edit-wrapper select{
    padding: 4px 8px;
    margin: 4px;
    margin-right: 0;
    background-color: white;
    display: inline-block !important;
}

.profil-edit-wrapper select{
    padding-right: 20px;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    padding-right: 20px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.profil-edit-wrapper .input-short{
    width: 206px;
}

.profil-edit-wrapper .input-long{
    width: 499px;
}

.custom-selectbox{
    position: relative;
    display: inline-block;
}

.custom-selectbox:after{
    content: " ";
    height: 0;
    width: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
    position: absolute;
    right: 12px;
    top: 18px;
    transition: all 0.3s linear;
}

.custom-selectbox.open:after{
    transform: rotate(-180deg);
}

select {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
}

.tooltip {
    position: relative;
    display: inline-block;
    opacity: 1;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 130px;
    background-color: #63065f;
    color: #fff;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 103%;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #63065f;
}

.tooltiptext.open {
    visibility: visible;
}

.profil-photo{
    height: 383px;
    background-color: rgba(0,0,0,0.5);
}

.profil-photo .navbar.navbar-inverse{
    border-radius: 0;
    margin-bottom: 0;
}

#photo{
    cursor: pointer;
}

.profil-photo>.navbar.navbar-inverse>.container-fluid>ul{
    margin: 0;
}

.profil-photo>.navbar.navbar-inverse>.container-fluid>ul>li>a{
    padding-top: 15px;
    height: 50px;
}

.profil-photo>.navbar.navbar-inverse>.container-fluid>ul>li,
.profil-photo>.navbar.navbar-inverse>.container-fluid>.navbar-header{
    float: left;
    display: inline-block;
}
.profil-photo .container-fluid{
    height: 50px;
}

.nav.navbar-nav li{
    cursor: pointer;
}

.cropper-wrapper{
    height: 332px;
}
.vertical-center-parent{
    display: flex;
    justify-content: center;
}

.vertical-center{
    align-self: center;
}

#imgFile{
    display: none;
}

#temp-container{
    width: 100%;
    display: none !important;
}

#original-photo{
    max-width: 250px;
}

#close-container{
    float: right;
    position: static;
}
.close-cross {
    position: absolute;
    right: 25px;
    top: -3px;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close-cross:hover,
.close-cross:focus {
    color: white;
    cursor: pointer;
}

.flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective:1000;
    -ms-perspective: 1000;
    perspective: 1000;

    -ms-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d; 
    -ms-transform-style: preserve-3d; 

}



/* for IE */
.flip-container.hover .back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.flip-container.hover .front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

/* END: for IE */


.flipper {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 0.6s;

    -moz-transition: 0.6s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
    top: 0;
    left: 0;
    width: 628px;
    height: 383px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;

    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;

    -ms-transition: 0.6s;
    -ms-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;

    position: absolute;
    top: 0;
    left: 0;


}

.front {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    background-position: center center;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.back {
    width: 100%;
    height: 100%;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(-180deg);
}

.background-wrapper{
    display: flex;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: no-content; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}