.input-main{
    width: 370px;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ddd;
}

.control-label.col-xs-3{
    padding-top: 7px;
}

.form-group input.form-control{
    border-radius: 0;
}

.form-group.container{
    width: auto;
    padding-left: 0px;
    padding-right: 0px;
}

.form-group .col-xs-6,.col-xs-4,.col-xs-8{
    padding-left: 0px;
    padding-right: 0px;
}

.form-group .input-left{
    padding-right: 7px;
}

.form-group .input-right{
    padding-left: 7px;
}

#input-valider{
    width: 300px;
    align-self: center;
    border-radius: 0;
    color: white;
    background-color: #63065f;
    padding: 10px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

#input-valider:hover{
    opacity: 0.8;
}

#success-container{
    display: none;
}

.success-container{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.75);
}

.success-inner p{
    font-size: 20px;
}

.success-inner a{
    text-decoration: none;
}

.success-inner{
    height: 30%;
    max-width: 60%;
}

body{
    height: 100%;
}

@media screen and (min-width: 900px){
    #container-backgroud{
        background-image: url('../sources/NJU_register_background_small.png');
        background-position-x: -100px;
        width: 1200px;
        height: 855px;
        margin: 0px auto;
    }

    #header{
        min-width: 1200px;
    }

    .input-main{
        width: 400px;
        height: 100%;
        float: right;
    }
}

#header{
    width: 100%;
    height: 100px;
    background-color: #63065f;
    padding: 0 34px;
}

#logo {
    float: left;
    margin-top: 12px;
}

#logo img{
    height: 70px;
}

#connecter,#langue{
    float: right;
    margin-left: 15px;
    margin-top: 40px;
}

#header .glyphicon-user,.glyphicon-globe{
    color: white;
}

.grad {
    background: #63065f; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(top,rgba(99,6,95,0),rgba(99,6,95,1)); /*Safari 5.1-6*/
    background: -o-linear-gradient(bottom,rgba(99,6,95,0),rgba(99,6,95,1)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(bottom,rgba(99,6,95,0),rgba(99,6,95,1)); /*Fx 3.6-15*/
    background: linear-gradient(to bottom,rgba(99,6,95,0),rgba(99,6,95,1)); /*Standard*/
}

.error-container{
    color: red;
}

/***************************************/
.vertical-center-parent{
    display: flex;
    justify-content: center;
}

.vertical-center{
    align-self: center;
}

.footer-bottom {
    color: #7A5678;
    text-align: center;
    background-color: #63065f;
    font-family: "Microsoft YaHei";
    font-size: 12px;
    height: 30px;
    border-top: 1px solid rgba(204,204,204,0.5);
}

.custom-selectbox{
    position: relative;
}

.custom-select{
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    padding-right: 20px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.custom-selectbox:after{
    content: " ";
    height: 0;
    width: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
    position: absolute;
    right: 12px;
    top: 16px;
    transition: all 0.3s linear;
}

.custom-selectbox.open:after{
    transform: rotate(-180deg);
}

select {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
}

#li-licence a,
#li-master a,
#li-doctorat a{
    cursor: pointer;
}